.wrapper-form {
  border: 1px solid #7d7f7f;
  margin: 20vh auto 0 auto;
  width: 710px;
  height: 400px;
  background: rgba(61, 72, 75, 0.9);
  border-radius: 10px;
  padding: 5vh 5vw;
  box-shadow: 0 4px 20px #323232; }

.actionForm {
  margin: 10vh;
}
