* {
  margin: 0;
  padding: 0;
  font-family: "Sitka Text", sans-serif;
}

.page__container {
  max-width: 1170px;
  margin: 0 auto;
}

.slick-dots {
  display: none !important;
}

.slick-slide img {
  margin: 0 auto;
}

.slick-slide {
  margin-top: 13vh;
}